@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero-gradient {
        background-color: #020617; /* Dark fallback */
        background-image: radial-gradient(
            circle at top right,
            #082f49,
            #312e81
        );
    }
}

.dot-grid__wrap {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    min-height: 100vh; /* Force it to fill the screen */
    z-index: 1;
    pointer-events: none;
}

.dot-grid__canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/* Bevan */
.bevan-text {
    font-family: "Bevan", serif;
}

/* Custom Stepper Styles inspired by React Bits */
.step-indicator-active {
    background-color: #5227ff;
    color: white;
}
.step-indicator-inactive {
    background-color: #222;
    color: #a3a3a3;
}
.step-line-active {
    background-color: #5227ff;
    transition: width 0.4s ease;
}
.step-line-inactive {
    background-color: #52525b;
}

[x-cloak] {
    display: none !important;
}
